# Package Files #
*.jar
*.war
*.ear
.metadata
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*/target/
vault/
target/
*.iml
*.ipr
*.iws
*.class
*.DS_Store
*.idea
*.classpath
*.project
*.settings/
*.settings
*.vagrant
*.vlt
git_stats
hosts_*

# Common FE Development Folders #
#################################
/.sass-cache/
/cache/
/node_modules/
/build/
