// fonts
$RobotoCondensed: 'Roboto Condensed', sans-serif;
$default-font: $RobotoCondensed;

// Primary
$white:     #ffffff;
$black:     #000000;
$grey:      #e4e5e3;
$red:       #cd040b;
$green:     #438115;
$yellow:    #FFC72B;

// Neutral
$grey_dk:   #383838;
$grey_lt:   #f6f6f6;
$green_dk:  #356510;
